#!/bin/bash
#
# Config for development.
#

# the local node to connect to
export NODE_ADDRESS=127.0.0.1:8333

export USER_AGENT=spvnode

# These values would result in the creation of a root config and data
# directory at /home/username/.spvnode
export STORAGE_ROOT=/home/username
export STORAGE_BUCKET=.spvnode
