#!/bin/bash
#
# Config for a standalone contract instance.
#

# the local node to connect to.
export CLIENT_NODE_ADDRESS=127.0.0.1:8333
export CLIENT_NODE_USER_AGENT="/TokenizedClient:0.1.0/"
# Block 560,000
export CLIENT_START_HASH="0000000000000000035cb1baaf4f82d8358a8b9ed22aec52c2801a02b9c6f18f"

# Your key in WIF format (this is an example)
export CLIENT_WALLET_KEY=5JhvsapkHeHjy2FiUQYwXh1d74evuMd3rGcKGnifCdFR5G8e6nH

# Address of contract in standard bitcoin format
export CLIENT_CONTRACT_ADDRESS=

# Where to store state files
export CLIENT_PATH=./tmp/client

export CLIENT_LOG_FILE_PATH=./tmp/client/main.log
