rem
rem Config for a standalone contract instance.
rem

rem the local node to connect to.
set CLIENT_NODE_ADDRESS=127.0.0.1:8333
set CLIENT_NODE_USER_AGENT=/TokenizedClient:0.1.0/
rem Block 570000
set CLIENT_START_HASH=000000000000000002e494732104752f86e30bc972295f2874ef156b1b80063c

rem Your key in WIF format
set CLIENT_WALLET_KEY=

rem Address of contract in standard bitcoin format
set CLIENT_CONTRACT_ADDRESS=
set CLIENT_FEE_ADDRESS=
set CLIENT_FEE=1000

rem Where to store state files
set CLIENT_PATH=tmp/client

set CLIENT_LOG_FILE_PATH=tmp/client/main.log
