#!/bin/bash
#
# Config for a standalone contract instance.
#

# Name of your smartcontract instance.
export OPERATOR_NAME=Standalone
export VERSION=0.1.0

# Your key in WIF format (this is an example)
export PRIV_KEY=5JhvsapkHeHjy2FiUQYwXh1d74evuMd3rGcKGnifCdFR5G8e6nH

# The address to pay fees to
export FEE_ADDRESS=19fhPw9rheNT9kT4BcLsNCyZhjo1QRivd8

export BITCOIN_CHAIN=testnet
#export HOST_PORT=7480

# A local node you can communicate with.
export RPC_HOST=127.0.0.1:8332
export RPC_USERNAME=yourusername
export RPC_PASSWORD=yourpassword

# spynode
# the local node to connect to.
export NODE_ADDRESS=127.0.0.1:8333
export NODE_USER_AGENT="/Tokenized:0.1.0/"
# Block 560,000
export START_HASH="0000000000000000035cb1baaf4f82d8358a8b9ed22aec52c2801a02b9c6f18f"
export NODE_STORAGE_ROOT=./tmp/contract
export NODE_STORAGE_BUCKET=standalone

# Where to store contract state. This example would store files in the
# ~/tmp/standalone directory.
export CONTRACT_STORAGE_ROOT=./tmp/contract
export CONTRACT_STORAGE_BUCKET=standalone

export LOG_FILE_PATH=./tmp/contract/main.log